@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');


:root {
  --primary-font: 'Poppins', sans-serif;
  --title-font: 'Black Ops One', cursive;
  --background-color: #121212;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--background-color);
  overflow-x: hidden;
}

#slider {
  width: 100%;
  height: 100%;
}

#slider .slide {
  display: none;
}

#slider .slide.left,
#slider .slide.active,
#slider .slide.right {
  display: block;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;

  width: 675px;
  height: 450px;
  
  background-color: #ffffff;
  border-radius: 10px;
  color: #000000;
  padding: 20px;
  transition: all 0.5s ease;

  overflow-y: auto;
  user-select: none;
}

#slider .slide.left {
  left: 35%;
  opacity: 0.5;
}

#slider .slide.right {
  left: 65%;
  opacity: 0.5;
}

#slider .slide.active {
  left: 50%;
  width: 750px;
  height: 500px;
  z-index: 1;
  opacity: 1;
}

#slider .slide .slideTitle {
  font-family: var(--title-font);
  font-size: 6vh;
  margin-bottom: 55px;
  width: 100%;
  height: 10%;
  padding: 10px;
}

#slider .slide .slideContent {
  font-family: var(--primary-font);
  font-size: 1.1rem;
  font-weight: 550;
  color: black;
  margin: 10px;
  width: auto;
  height: 10%;
  position: relative;
  left: 12.5px;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
}

#slider .slide .slideContent:hover {
  color: #ff0000;
  font-weight: 600;
}


.nav {
  position: absolute;
  bottom: 5.5%;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: center;
  transition: all 0.5s ease;
  user-select: none;

  & .btn {
    background-color: transparent;
    color: crimson;
    padding: 10px 10px;
    margin-left: 0.5rem;
    border-radius: 12.5%;
    cursor: pointer;
    align-items: center;
    transition: background-color 0.5s linear;

    &:hover {
      background-color: black;
    }
  }
  
  & .hidden {
    position: absolute;
    left: 45%;
    transform: translateX(-50%);
    visibility: hidden;
  }
}

.tooltipTitle {
  font-family: var(--primary-font);
  color: white;
  text-shadow: 0 3px 8px rgba(0,0,0,0.5);

  position: absolute;
  bottom: 13%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.7rem;
  font-weight: 750;
  transition: all 0.5s ease;
}